<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ara.collector</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PNPM__</string>
    <string>--filter</string>
    <string>@ara/collector</string>
    <string>start</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__PATH__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOGS__/ara-collector.log</string>
  <key>StandardErrorPath</key>
  <string>__LOGS__/ara-collector.err.log</string>
</dict>
</plist>
